{
  "minify": true,
  "jsc": {
    "parser": [
      {
        "syntax": "typescript",
        "tsx": true
      },
      {
        "test": ".*\\.css",
        "module": {
          "type": "commonjs"
        }
      }
    ],
    "keepClassNames": true,
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}