@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  @apply scroll-smooth;
}

.reset-input,
.reset-input:focus-visible {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  box-shadow: none;
  border-radius: 0;
}

.form-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.form-color::-webkit-color-swatch {
  @apply rounded-md;
  border: none;
}

.form-color::-moz-color-swatch {
  @apply rounded-md;
  border: none;
}

.reset-select select {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

.remove-ring[tabindex]:not([tabindex='-1']):focus-visible {
  box-shadow: none !important;
}
