 /* .table {
   &--level-1 {
     @apply flex flex-col;
   }
   &--level-2 {
     @apply -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8;
   }
   &--level-3 {
     @apply py-2 align-middle inline-block w-auto sm:px-6 lg:px-8;
   }
   &--level-4 {
     @apply shadow overflow-hidden sm:rounded-lg overflow-y-scroll h-[80vh];
   }
   table {
     @apply min-w-full divide-y divide-gray-200 relative;
   }
   thead {
     @apply bg-gray-50 sticky top-0 mb-10;
   }
   tbody {
     @apply bg-white divide-y divide-gray-200;
   }

   &--cell {
     @apply px-6 py-4 whitespace-nowrap;
   }

   &--header {
     @apply px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-200 uppercase tracking-wider;

     &--cell {
       @apply flex items-center;
       &--sortable {
         @apply cursor-pointer select-none;
       }
     }

     &--sort-icon {
       @apply text-gray-400 ease-in-out duration-300 hover:text-gray-800 dark:hover:text-gray-200;
       &--desc {
         @apply rotate-180;
       }
     }
   }

   &--pagination {
     @apply relative cursor-pointer inline-flex items-center px-4 py-2  text-sm font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50;

     &_current {
       @apply z-10 bg-primary-50 border-primary-500 text-primary-600;
     }
     &_disabled {
       @apply pointer-events-none;
     }
   }
 } */
