@import '../../styles/index.scss';

.button-group {
  @apply inline-flex;
}

.button-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.button-group > button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group > .toggle:not(:first-child):not(:last-child) {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.button-group > .toggle:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > .toggle:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
