/* @layer reset, defaults, patterns, components, utilities, overrides; */
@import './icon.scss';
@import './avatar.scss';

$z-index-base: inherit;
$z-index-dropdowns: 200;
$z-index-tooltips: 400;
$z-index-overlays: 600;
$z-index-modals: 800;
$z-index-notifications: 1000;

.text-size {
  &--sm {
    @apply text-base sm:text-sm;
  }

  &--md {
    @apply text-lg sm:text-base;
  }

  &--lg {
    @apply text-xl sm:text-lg;
  }
}

.form-element {
  z-index: $z-index-base;
  @apply disabled:opacity-25
  disabled:cursor-not-allowed;

  &--loader {
    @apply absolute right-0 top-1/2 transform -translate-y-1/2;
  }

  &--input {
    @apply disabled:opacity-25
    disabled:cursor-not-allowed
    block
    w-full
    border
    rounded-md
    focus:ring
    focus:ring-opacity-50
    bg-transparent
    border-zinc-300
    dark:border-zinc-400
    invalid:ring-error-200
    invalid:border-error-500
    dark:bg-zinc-900;

    &:focus {
      @apply border-primary-300
      ring-primary-200
      dark:border-primary-400
      dark:ring-primary-300
      invalid:ring-error-200
      invalid:border-error-500;
    }

    &--sm {
      @apply h-8;
    }

    &--md {
      @apply h-10;
    }

    &--lg {
      @apply h-12;
    }
  }

  &--checkbox {
    @apply disabled:opacity-25
    disabled:cursor-not-allowed
    rounded
    text-primary-500
    border-zinc-300
    focus:border-primary-300
    focus:ring
    focus:ring-offset-0
    focus:ring-primary-200
    focus:ring-opacity-50
    cursor-pointer;

    &-sm {
      @apply h-4 w-4;
    }
    &-md {
      @apply h-5 w-5;
    }
    &-lg {
      @apply h-6 w-6;
    }
  }

  &--radio {
    @apply disabled:opacity-25
    disabled:cursor-not-allowed
    rounded-full
    text-primary-500
    border-zinc-300
    focus:border-primary-300
    focus:ring
    focus:ring-offset-0
    focus:ring-primary-200
    focus:ring-opacity-50
    cursor-pointer;

    &--sm {
      @apply h-4 w-4;
    }
    &--md {
      @apply h-5 w-5;
    }
    &--lg {
      @apply h-6 w-6;
    }
  }

  &--iem-selected {
    @apply bg-zinc-300/50;
  }

  &--label {
    @apply peer-required:after:content-['*']
    peer-required:after:ml-0.5
    peer-required:after:text-error-500
   select-none block;

    &--checkbox {
      @apply inline-flex items-center cursor-pointer;
    }

    &-sm {
      @apply mb-1;
    }

    &-md {
      @apply mb-1;
    }

    &-lg {
      @apply mb-1;
    }
  }

  &--error {
    @apply text-error-600;
  }

  &--wrapper {
    @apply flex flex-col gap-1 relative;
    &-row {
      @apply flex gap-2 items-center relative;
    }
  }
  &--read-only {
    @apply pointer-events-none cursor-not-allowed;
  }
  &--required {
    @apply after:content-['*'] after:ml-0.5 after:text-error-500;
  }
  &--disabled {
    @apply opacity-25 cursor-not-allowed pointer-events-none;
  }
}

.overlay {
  @apply absolute
  top-0
  bottom-0
  left-0
  right-0
  h-full
  w-full
  bg-zinc-700/50
  transition
  duration-200
  ease-in
  flex
  justify-center
  place-items-center
  select-none
  overflow-clip;
}

.tooltip {
  &--wrapper {
    @apply relative
    max-w-fit;
  }

  @apply duration-200
  ease-in
  pointer-events-none
  absolute
  whitespace-nowrap
  rounded
  bg-zinc-900
  px-2
  py-1
  text-white
  opacity-0
  transition
  before:absolute
  before:border-4
  before:border-transparent
  before:content-['']
  group-hover:opacity-100;

  &--top {
    @apply before:top-full
    -top-10
    left-1/2
    before:border-t-zinc-900
    -translate-x-1/2
    before:left-1/2
    before:-translate-x-1/2;
  }
  &--bottom {
    @apply top-full
    mt-2
    -translate-x-1/2
    left-1/2
    before:bottom-full
    before:left-1/2
    before:-translate-x-1/2
    before:border-b-zinc-900;
  }
  &--left {
    @apply right-full
    mr-2
    -translate-y-1/2
    top-1/2
    before:left-full
    before:top-1/2
    before:-translate-y-1/2
    before:border-l-zinc-900;
  }
  &--right {
    @apply ml-2
    top-1/2
    left-full
    -translate-y-1/2
    before:right-full
    before:top-1/2
    before:-translate-y-1/2
    before:border-r-zinc-900;
  }
}

.dialog {
  @apply relative;
  z-index: $z-index-modals;

  &-layer-1 {
    @apply fixed inset-0 overflow-y-auto;
  }

  &-layer-2 {
    @apply flex min-h-full items-center justify-center p-4 text-center;
  }

  &-title {
    @apply text-lg
    font-medium
    leading-6;
  }

  &-panel {
    @apply w-full
    max-w-md transform overflow-hidden rounded-xl
    bg-zinc-50
    dark:bg-zinc-900
    p-6
    text-left
    align-middle
    shadow-xl
    transition-all;
  }

  &-overlay {
    @apply fixed inset-0 bg-zinc-900 bg-opacity-25;
  }
}

.loader {
  @apply flex justify-center items-center select-none;

  &-icon {
    @apply mr-2 text-zinc-200 animate-spin fill-primary-500;
  }

  &-icon--white {
    @apply fill-white text-zinc-300;
  }

  &-size {
    &--sm {
      @apply w-4 h-4;
    }

    &--md {
      @apply w-5 h-5;
    }

    &--lg {
      @apply w-6 h-6;
    }
  }
}

.toggle-group {
  &--group {
    @apply bg-zinc-50 w-fit
    rounded
    relative
    border
    border-zinc-200
    flex
    select-none;
  }

  &--options {
    @apply flex flex-row flex-nowrap;
  }

  &--required {
    @apply after:content-['*'] after:ml-0.5 after:text-error-500;
  }

  &--option {
    @apply p-2
    cursor-pointer
    focus:outline-none
    text-zinc-900
    hover:bg-zinc-100
    border-r
    last:border-r-transparent
    flex
    flex-nowrap
    items-center
    justify-center
    uppercase
    shadow-none
    select-none;

    &_checked {
      @apply bg-zinc-300
      /*#{!important}*/;
    }
    &_disabled {
      @apply opacity-25 cursor-not-allowed pointer-events-none;
    }
  }
}

.switch {
  @apply bg-zinc-300 translate-x-0
  relative
  inline-flex
  shrink-0
  cursor-pointer
  rounded-full
  border-2
  border-transparent
  transition-colors
  duration-200
  ease-in-out
  focus:outline-none
  focus-visible:ring-2
  focus-visible:ring-white
  focus-visible:ring-opacity-75;

  &--sm {
    @apply h-[22px] w-[42px];
  }
  &--md {
    @apply h-[25px] w-[52px];
  }
  &--lg {
    @apply h-[29px] w-[57px];
  }

  &-checked {
    @apply bg-primary-500;

    &--sm {
      @apply translate-x-5;
    }
    &--md {
      @apply translate-x-7;
    }
    &--lg {
      @apply translate-x-7;
    }
  }

  &--circle {
    @apply inline-block
    transform
    rounded-full
    bg-white
    shadow-lg
    ring-0
    transition
    duration-200
    ease-in-out;

    &--sm {
      @apply h-[18px] w-[18px];
    }
    &--md {
      @apply h-[21px] w-[21px];
    }
    &--lg {
      @apply h-[25px] w-[25px];
    }
  }
}

.status-badge {
  @apply px-2
  inline-flex
  text-xs
  leading-5
  font-semibold
  rounded-full
  capitalize
  w-fit
  select-none
  justify-center
  items-center;

  @apply bg-zinc-100 text-zinc-800 border-zinc-800;

  &--success {
    @apply bg-success-100 text-success-600;
  }
  &--active {
    @apply bg-primary-100 text-primary-600;
  }
  &--error {
    @apply bg-error-100 text-error-600;
  }
  &--warning {
    @apply bg-warning-100 text-warning-600;
  }

  &--sm {
    @apply text-xs px-2;
  }
  &--md {
    @apply h-5 px-3 text-sm;
  }
  &--lg {
    @apply py-0.5 px-3 text-base font-bold;
  }
}

.drawer {
  z-index: $z-index-modals;
  @apply shadow-2xl
  bg-zinc-50
  dark:bg-zinc-900
  absolute;

  &-bottom {
    @apply bottom-0 w-full h-full md:h-1/2;
  }
  &-top {
    @apply top-0 w-full h-full md:h-1/2;
  }
  &-right {
    @apply top-0 right-0 bottom-0 h-full w-full md:w-1/2;
  }
  &-left {
    @apply top-0  left-0 h-full w-full md:w-1/2;
  }

  &-body {
    @apply overflow-auto h-full w-full;
  }
}

.dropdown {
  &--chevron {
    @apply text-zinc-400 ease-in-out duration-300 hover:text-zinc-800;
    &-open {
      @apply rotate-180;
    }
  }
  &--wrapper {
    @apply w-full;

    &--sm {
      @apply h-10;
    }
    &--md {
      @apply h-14;
    }
    &--lg {
      @apply h-16;
    }
    &--input {
      @apply relative
      mt-1;
    }
  }

  &--list {
    z-index: $z-index-dropdowns;
    @apply absolute
    mt-2
    max-h-52
    overflow-y-auto
    px-2
    py-2
    min-w-fit
    rounded-md
    bg-white
    dark:bg-zinc-800
    text-base
    shadow-lg
    ring-1
    ring-zinc-900
    ring-opacity-5
    focus:outline-none
    w-full;

    &--not-found {
      @apply relative
      cursor-default
      text-center
      select-none
      py-2
      px-4
      text-zinc-700
      dark:text-zinc-300;
    }
  }

  &--button {
    @apply absolute
    inset-y-0
    right-0
    flex
    text-xl
    font-extrabold
    items-center
    pr-2
    cursor-pointer;
  }
  &--button--clear {
    @apply absolute
    inset-y-0
    right-0
    flex
    text-xl
    font-extrabold
    items-center
    pr-7
    cursor-pointer;
  }

  &--option {
    @apply truncate
    dark:text-zinc-100
    font-normal
    relative
    cursor-pointer
    select-none
    text-zinc-900
    flex
    w-full
    items-center
    rounded-md
    px-2
    py-0.5
    mb-1;

    &-active {
      @apply bg-primary-100 text-inherit dark:text-zinc-900;
    }

    &-selected {
      @apply bg-primary-500
      hover:bg-primary-600
      text-white
      dark:text-white;
    }

    &--multiple {
      @apply flex gap-2;

      &-icon {
        @apply font-extrabold
        text-xl
        opacity-0;

        &-selected {
          @apply text-primary-500
          opacity-100;
        }
        &-active {
          @apply opacity-50;
        }
      }
    }
  }
}

.clear-content {
  &--wrapper {
    @apply absolute
    inset-y-0
    right-7
    flex
    items-center
    pr-2;
  }

  &--button {
    @apply cursor-pointer
    text-zinc-400
    ease-in-out
    duration-300
  hover:text-zinc-800
   text-base;
  }
}

.select {
  &--input {
    @apply relative
    cursor-pointer
    pl-3
    pr-10;
  }
  &--value {
    @apply block truncate text-left;

    &-hidden {
      @apply border
      border-primary-400
      bg-primary-300/50
      text-primary-500
      dark:border-primary-700
      dark:text-primary-700
      dark:bg-primary-200
      rounded-full
      px-2;
    }
  }
}

.overlay {
  z-index: $z-index-overlays;
  @apply absolute
  top-0
  bottom-0
  left-0
  right-0
  h-full
  w-full
  bg-zinc-700/50
  transition
  duration-200
  ease-in
  flex
  justify-center
  place-items-center
  overflow-clip;
}

.clear-button {
  @apply text-zinc-400  hover:text-error-500 cursor-pointer select-none;
}

.progress-bar--wrapper {
  @apply text-xs w-full bg-zinc-200 rounded-full dark:bg-zinc-700;
}

.progress-bar--bar {
  @apply bg-primary-500
  text-primary-100
  text-center
  leading-none
  rounded-full;

  &--sm {
    @apply p-1;
  }
  &--md {
    @apply p-2;
  }
  &--lg {
    @apply p-3;
  }
}
