.text-size {
  &--sm {
    @apply text-base sm:text-sm;
  }

  &--md {
    @apply text-lg sm:text-base;
  }

  &--lg {
    @apply text-xl sm:text-lg;
  }
}

.form-element {
  z-index: $z-index-base;
  @apply disabled:opacity-25
  disabled:cursor-not-allowed;

  &--loader {
    @apply absolute right-0 top-1/2 transform -translate-y-1/2;
  }

  &--input {
    @apply disabled:opacity-25
    disabled:cursor-not-allowed
    block
    w-full
    border
    rounded-md
    focus:ring
    focus:ring-opacity-50
    bg-transparent
    border-zinc-300
    dark:border-zinc-400
    invalid:ring-error-200
    invalid:border-error-500
    dark:bg-zinc-900;

    &:focus {
      @apply border-primary-300
      ring-primary-200
      dark:border-primary-400
      dark:ring-primary-300
      invalid:ring-error-200
      invalid:border-error-500;
    }

    &--sm {
      @apply h-8;
    }

    &--md {
      @apply h-10;
    }

    &--lg {
      @apply h-12;
    }
  }

  &--checkbox {
    @apply disabled:opacity-25
    disabled:cursor-not-allowed
    rounded
    text-primary-500
    border-zinc-300
    focus:border-primary-300
    focus:ring
    focus:ring-offset-0
    focus:ring-primary-200
    focus:ring-opacity-50
    cursor-pointer;

    &-sm {
      @apply h-4 w-4;
    }
    &-md {
      @apply h-5 w-5;
    }
    &-lg {
      @apply h-6 w-6;
    }
  }

  &--radio {
    @apply disabled:opacity-25
    disabled:cursor-not-allowed
    rounded-full
    text-primary-500
    border-zinc-300
    focus:border-primary-300
    focus:ring
    focus:ring-offset-0
    focus:ring-primary-200
    focus:ring-opacity-50
    cursor-pointer;

    &--sm {
      @apply h-4 w-4;
    }
    &--md {
      @apply h-5 w-5;
    }
    &--lg {
      @apply h-6 w-6;
    }
  }

  &--iem-selected {
    @apply bg-zinc-300/50;
  }

  &--label {
    @apply peer-required:after:content-['*']
    peer-required:after:ml-0.5
    peer-required:after:text-error-500
   select-none block;

    &--checkbox {
      @apply inline-flex items-center cursor-pointer;
    }

    &-sm {
      @apply mb-1;
    }

    &-md {
      @apply mb-1;
    }

    &-lg {
      @apply mb-1;
    }
  }

  &--error {
    @apply text-error-600;
  }

  &--wrapper {
    @apply flex flex-col gap-1 relative;
    &-row {
      @apply flex gap-2 items-center relative;
    }
  }
  &--read-only {
    @apply pointer-events-none cursor-not-allowed;
  }
  &--required {
    @apply after:content-['*'] after:ml-0.5 after:text-error-500;
  }
  &--disabled {
    @apply opacity-25 cursor-not-allowed pointer-events-none;
  }
}

.overlay {
  @apply absolute
  top-0
  bottom-0
  left-0
  right-0
  h-full
  w-full
  bg-zinc-700/50
  transition
  duration-200
  ease-in
  flex
  justify-center
  place-items-center
  select-none
  overflow-clip;
}

.tooltip {
  &--wrapper {
    @apply relative
    max-w-fit;
  }

  @apply duration-200
  ease-in
  pointer-events-none
  absolute
  whitespace-nowrap
  rounded
  bg-zinc-900
  px-2
  py-1
  text-white
  opacity-0
  transition
  before:absolute
  before:border-4
  before:border-transparent
  before:content-['']
  group-hover:opacity-100;

  &--top {
    @apply before:top-full
    -top-10
    left-1/2
    before:border-t-zinc-900
    -translate-x-1/2
    before:left-1/2
    before:-translate-x-1/2;
  }
  &--bottom {
    @apply top-full
    mt-2
    -translate-x-1/2
    left-1/2
    before:bottom-full
    before:left-1/2
    before:-translate-x-1/2
    before:border-b-zinc-900;
  }
  &--left {
    @apply right-full
    mr-2
    -translate-y-1/2
    top-1/2
    before:left-full
    before:top-1/2
    before:-translate-y-1/2
    before:border-l-zinc-900;
  }
  &--right {
    @apply ml-2
    top-1/2
    left-full
    -translate-y-1/2
    before:right-full
    before:top-1/2
    before:-translate-y-1/2
    before:border-r-zinc-900;
  }
}

.loader {
  @apply flex justify-center items-center select-none;

  &-icon {
    @apply mr-2 text-zinc-200 animate-spin fill-primary-500;
  }

  &-icon--white {
    @apply fill-white text-zinc-300;
  }

  &-size {
    &--sm {
      @apply w-4 h-4;
    }

    &--md {
      @apply w-5 h-5;
    }

    &--lg {
      @apply w-6 h-6;
    }
  }
}

.toggle-group {
  &--group {
    @apply bg-zinc-50 w-fit
    rounded
    relative
    border
    border-zinc-200
    flex
    select-none;
  }

  &--options {
    @apply flex flex-row flex-nowrap;
  }

  &--required {
    @apply after:content-['*'] after:ml-0.5 after:text-error-500;
  }

  &--option {
    @apply p-2
    cursor-pointer
    focus:outline-none
    text-zinc-900
    hover:bg-zinc-100
    border-r
    last:border-r-transparent
    flex
    flex-nowrap
    items-center
    justify-center
    uppercase
    shadow-none
    select-none;

    &_checked {
      @apply bg-zinc-300
      /*#{!important}*/;
    }
    &_disabled {
      @apply opacity-25 cursor-not-allowed pointer-events-none;
    }
  }
}

.switch {
  @apply bg-zinc-300 translate-x-0
  relative
  inline-flex
  shrink-0
  cursor-pointer
  rounded-full
  border-2
  border-transparent
  transition-colors
  duration-200
  ease-in-out
  focus:outline-none
  focus-visible:ring-2
  focus-visible:ring-white
  focus-visible:ring-opacity-75;

  &--sm {
    @apply h-[22px] w-[42px];
  }
  &--md {
    @apply h-[25px] w-[52px];
  }
  &--lg {
    @apply h-[29px] w-[57px];
  }

  &-checked {
    @apply bg-primary-500;

    &--sm {
      @apply translate-x-5;
    }
    &--md {
      @apply translate-x-7;
    }
    &--lg {
      @apply translate-x-7;
    }
  }

  &--circle {
    @apply inline-block
    transform
    rounded-full
    bg-white
    shadow-lg
    ring-0
    transition
    duration-200
    ease-in-out;

    &--sm {
      @apply h-[18px] w-[18px];
    }
    &--md {
      @apply h-[21px] w-[21px];
    }
    &--lg {
      @apply h-[25px] w-[25px];
    }
  }
}